html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body{
    line-height: 1;
}

ol, ul {
    list-style: none;
}

body {
    -webkit-text-size-adjust: none;
}

/*Box Model*/
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Containers */
.container {
    margin-left: auto;
    margin-right: auto;
}

.container.\31 25\25 {
    width: 100%;
    max-width: 1750px;
    min-width: 1400px;
}

.container.\37 5\25 {
    width: 1050px;
}

.container.\35 0\25 {
    width: 700px;
}

.container.\32 5\25 {
    width: 350px;
}

.container {
    width: 1400px;
}

@media screen and (max-width:1680px){
    .container.\31 25\25 {
        width: 100%;
        max-width: 1500px;
        min-width: 1200px;
    }

    .container.\37 5\25 {
        width: 900px;
    }

    .container.\35 0\25 {
        width: 600px;
    }

    .container.\32 5\25 {
        width: 300px;
    }

    .container {
        width: 1200px;
    }

}

@media screen and (max-width: 1280px) {

    .container.\31 25\25 {
        width: 100%;
        max-width: 1200px;
        min-width: 960px;
    }

    .container.\37 5\25 {
        width: 720px;
    }

    .container.\35 0\25 {
        width: 480px;
    }

    .container.\32 5\25 {
        width: 240px;
    }

    .container {
        width: 960px;
    }

}

@media screen and (max-width: 980px) {

    .container.\31 25\25 {
        width: 100%;
        max-width: 112.5%;
        min-width: 90%;
    }

    .container.\37 5\25 {
        width: 67.5%;
    }

    .container.\35 0\25 {
        width: 45%;
    }

    .container.\32 5\25 {
        width: 22.5%;
    }

    .container {
        width: 90% !important;
    }

}

@media screen and (max-width: 736px) {

    .container.\31 25\25 {
        width: 100%;
        max-width: 125%;
        min-width: 100%;
    }

    .container.\37 5\25 {
        width: 75%;
    }

    .container.\35 0\25 {
        width: 50%;
    }

    .container.\32 5\25 {
        width: 25%;
    }

    .container {
        width: 100% !important;
    }

}

/*Content*/
.content{
    margin-left:auto;
    margin-right: auto;
}

.content.\31 25\25 {
    width: 100%;
    max-width: 1750px;
    min-width: 1400px;
}

.content.\37 5\25 {
    width: 1050px;
}

.content.\35 0\25 {
    width: 700px;
}

.content.\32 5\25 {
    width: 350px;
}
.content {
    width: 1400px;
    background: #fff;
    border-radius:20px;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width:1680px){
    .content.\31 25\25 {
        width: 100%;
        max-width: 1500px;
        min-width: 1200px;
    }

    .content.\37 5\25 {
        width: 900px;
    }

    .content.\35 0\25 {
        width: 600px;
    }

    .content.\32 5\25 {
        width: 300px;
    }

    .content {
        width: 1200px;
    }

}

@media screen and (max-width: 1280px) {

    .content.\31 25\25 {
        width: 100%;
        max-width: 1200px;
        min-width: 960px;
    }

    .content.\37 5\25 {
        width: 720px;
    }

    .content.\35 0\25 {
        width: 480px;
    }

    .content.\32 5\25 {
        width: 240px;
    }

    .content {
        width: 960px;
    }

}

@media screen and (max-width: 980px) {

    .content.\31 25\25 {
        width: 100%;
        max-width: 112.5%;
        min-width: 90%;
    }

    .content.\37 5\25 {
        width: 67.5%;
    }

    .content.\35 0\25 {
        width: 45%;
    }

    .content.\32 5\25 {
        width: 22.5%;
    }

    .content {
        width: 90% !important;
    }

}

@media screen and (max-width: 736px) {

    .content.\31 25\25 {
        width: 100%;
        max-width: 125%;
        min-width: 100%;
    }

    .content.\37 5\25 {
        width: 75%;
    }

    .content.\35 0\25 {
        width: 50%;
    }

    .content.\32 5\25 {
        width: 25%;
    }

    .content {
        width: 100% !important;
    }

}
    
/*Basic*/

    body {
        background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("image/bg01.png");
        background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("image/bg01.png");
        background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("image/bg01.png");
        background-image: linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("image/bg01.png");
        background-color: #f7f7f7;
        background-position: top left, top left;
        background-repeat: repeat-x, repeat;
        background-size: 100% 30em, auto;
        font-family: 'Open Sans', sans-serif;
        font-size: 13pt;
        color: #696969;
        font-weight: 300;
        line-height: 2.25em;
    }


    h1, h2, h3, h4, h5, h6 {
		color: #444;
		font-weight: 800;
    }
    
    h2 {
		font-size: 2.25em;
		margin: 0 0 1.1em 0;
		line-height: 1em;
    }
    
    h3 {
        font-size: 1.35em;
        margin: 0 0 1em 0;
    }

    a{
        text-decoration: none;
    }

    

    p, ul {
        margin-bottom: 2em;
    }

    footer {
		margin: 2.5em 0 0 0;
    }
    
/* Wrappers */

    #header-page {
        padding: 4.5em 0 1em 0;
    }

    #banner {
        position: relative;
        padding: 1.5em;
    }
    
    #sidebar-page{
        float: right;
        width: 20%;
        height: 500px;
        box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
        padding: 5em 0 5em 0;
    }

    #footer-page {
        padding: 6em 0 8em 0;
    }


    div {
        display: block;
    }

    .else{
        float: right;
        width: 450px;
    }



/* Header */

#header {
    position: relative;
}

    
/*Nav*/
    #nav {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 0.9em;
    }
    
    #nav ul li {
        float: left;
        line-height: 4.5em;
        padding-left: 1.5em;
    }
    
    #nav ul li a, #nav ul li span {
        -moz-transition: background-color .25s ease-in-out;
        -webkit-transition: background-color .25s ease-in-out;
        -ms-transition: background-color .25s ease-in-out;
        transition: background-color .25s ease-in-out;
        font-weight: 800;
        letter-spacing: 0.025em;
        color: #696969;
        text-decoration: none;
        border-radius: 6px;
        padding: 0.5em 1em 0.5em 1em;
    }

    #nav ul li > ul {
        display: none;
    }
    
    #nav ul li:hover a, #nav ul li:hover span {
        background: #fff;
    }
    
    #nav ul li.active a, #nav ul li.active span {
        background: #fff;
    }
    #nav ul li.current a {
        background: #444;
        color: #fff;
    }

    .dropotron {
        background: #fff;
        letter-spacing: 0.025em;
        color: #696969;
        text-decoration: none;
        border-radius: 6px;
        padding: 0.75em 0;
        min-width: 15em;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0.25em 0.25em 0.1em rgba(0, 0, 0, 0.025);
        margin-top: calc(-0.75em + 1px);
        margin-left: -1px;
    }
    
    .dropotron li {
        border-top: solid 1px #eee;
        line-height: 3em;
    }
    
    .dropotron li:first-child {
        border-top: 0;
    }
    
    .dropotron li > a, .dropotron li > span {
        -moz-transition: color .25s ease-in-out, background-color .25s ease-in-out;
        -webkit-transition: color .25s ease-in-out, background-color .25s ease-in-out;
        -ms-transition: color .25s ease-in-out, background-color .25s ease-in-out;
        transition: color .25s ease-in-out, background-color .25s ease-in-out;
        text-decoration: none;
        color: inherit;
        display: block;
        padding: 0 1.5em;
    }
    
    .dropotron li > a:hover, .dropotron li > span:hover {
        background: #eee;
    }

    .dropotron li.active > a, .dropotron li.active > span {
        background: #eee;
    }

    .dropotron.level-0 {
        font-size: 0.8em;
        margin-left: 1.5em;
        margin-top: 0;
    }

    .dropotron.level-0:before {
        content: '';
        position: absolute;
        top: -0.5em;
        left: 1em;
        border-bottom: solid 0.75em #ffffff;
        border-left: solid 0.75em transparent;
        border-right: solid 0.75em transparent;
        z-index: 1;
    }

/* Footer */

	#footer {
		margin-top: 0;
    }

#footer{
    width: 20px;
    
}
ul li {
    list-style: none;
}
li {
    display: inline;
}







header {
    margin: 0 0 2em 0;
}
footer {
    margin: 2.5em 0 0 0;
}






ul.menu li {
    display: block;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

ul.actions li {
    display: block;
    padding: 0;
    margin: 1em 0 0 0;
}

    ul.actions li:first-child {
        margin-top: 0;
    }


    body{
        font-size: 12pt;
    }


    /* XLarge */

	@media screen and (max-width: 1680px) {

		/* Basic */

			body {
				font-size: 12pt;
			}

	}

    /* Large */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body {
				font-size: 11pt;
			}

    }
    
    /* Medium */

	#navPanel, #navToggle {
		display: none;
	}

	@media screen and (max-width: 980px) {

		/* Basic */

			html, body {
				overflow-x: hidden;
			}

			body, input, select, textarea {
				font-size: 11pt;
            }
            
            /* Wrappers */

			#header-wrapper {
				padding: 3em 0 1em 0;
				text-align: center;
			}

			#footer-wrapper {
				padding: 6em 0 4em 0;
			}

		/* Header */

			#header {
				margin: 0 auto;
            }
            
        /* Nav */

        #nav {
            display: none;
        }
            
        /* Banner */

			#banner {
				padding: 4.5em 3em;
				text-align: center;
			}

				#banner ul {
					margin: 2em 0 0 0;
                }
                
    }
